DATABASE_URL="postgresql://postgres:postgres@localhost:5432/falz_dev?schema=public"
NEXTAUTH_SECRET="change-this-to-a-random-secret-in-production-min-32-chars"
NEXTAUTH_URL="http://localhost:3000"

STORAGE_PROVIDER="local"
# S3_BUCKET=""
# S3_REGION=""
# S3_ACCESS_KEY=""
# S3_SECRET_KEY=""
# S3_ENDPOINT=""

EMAIL_PROVIDER="console"
# SMTP_HOST=""
# SMTP_PORT="587"
# SMTP_USER=""
# SMTP_PASS=""
# EMAIL_FROM="noreply@falz.sa"

BILLING_PROVIDER="mock"
# MOYASAR_API_KEY=""
# MOYASAR_PUBLISHABLE_KEY=""
# STRIPE_SECRET_KEY=""
# STRIPE_PUBLISHABLE_KEY=""
# STRIPE_WEBHOOK_SECRET=""

APP_URL="http://localhost:3000"
APP_NAME="FALZ"
UPLOADS_DIR="./public/uploads"
